<div class="bg-default centered width-small divider u-boxShadow-soft padding-1x full-height">
  <p class="small-text">
    <a href="#/home">
      <UT str="home" key="text.home" inline=true></UT>
    </a>
    &nbsp;
    <a href="#/terms">
      <UT str="terms of service" key="text.terms_of_service_1" inline=true></UT>
    </a>
    &nbsp;
    <a href="#/privacy">
      <UT str="privacy policy" key="text.privacy_policy_1" inline=true></UT>
    </a>
    <a class="align-right" href="#/login">
      <UT str="logout" key="text.logout" inline=true></UT>
    </a>
  </p>

  <h1 class="marginBottom-2x">
    <UT str="terms of service" key="text.terms_of_service_1"></UT>
  </h1>

  <p class="small-text text-justified">
    <UT
      str="These Terms and Conditions constitute a legally binding agreement 
        made between you, whether personally or on behalf of an entity (“you”)
        and [business entity name] (“we,” “us” or “our”), concerning your
        access to and use of the [website name.com] website as well as any
        other media form, media channel, mobile website or mobile application
        related, linked, or otherwise connected thereto (collectively,
        the “Site”)."
      key="text.terms_details"
      [inline]="false"
    ></UT>
  </p>

  <p class="small-text text-justified">
    <UT
      str="Thank you for using Transifex! These Terms of Service (the “Terms”)
      govern your access to and use of the Transifex website (“Website”) and
      the services offered on such Website (the “Services”), so please carefully
      read them before using the Services."
      key="text.terms_details_1" [inline]="false"></UT>
  </p>

  <p class="padding-2x text-centered">
    <img src="assets/images/terms.jpg" />
  </p>
</div>

<tx-language-picker
  class="placeBottomLeft"
  (localeChanged)="onLocaleChanged($event)"
></tx-language-picker>
